.wrapper
  .chat-side

    .chat-side__user
      .chat-side__user-content
        .chat-side__user-name
          %p user_name
        .chat-side__user--new-group
          %p □
        .chat-side__user--edit-user
          %p □

    .chat-side__groups
      .chat-side__groups-list

        .chat-side__group
          .chat-side__group-name
            %p group_name
          .chat-side__group-message
            %p group_message

          .chat-side__group
          .chat-side__group-name
            %p group_name2
          .chat-side__group-message
            %p group_messag2
