@mixin padding ($top, $bottom) {
  padding: $top 20px $bottom;
}

$bg-color-user:        #253141;
$bg-color-groups-list: #2f3e51;
$text-color:           #fff;

.chat-side {
  color: $text-color;
  float: left;
  height: 100vh;
  width: 300px;

  &__user {
    background-color: $bg-color-user;
    height: 15%;

    &-content {
      @include padding(28px, 28px);
    }

    &-name {
      display: inline-block;
      font-weight: bold;
      size: 16px;
    }

    &--new-group {
      display: inline-block;
      margin-left: 90px;
    }

    &--edit-user {
      display: inline-block;
    }
  }

  &__groups {
    background-color: $bg-color-groups-list;
    height: 85%;
  }

  &__group {
    @include padding(20px, 20px);

    &-name {
      margin-bottom: 5px;
      size: 15px;
    }

    &-message {
      size: 11px;
    }
  }
}
