@import '../utility/variable';
@import '../utility/mixin';

.sidebar-group {
  padding: 0 20px;
}

.sidebar-group__name {
  font-size: 15px;
  padding: 0 0 5px;
}

.sidebar-group__last-message {
  font-size: 12px;
}
